<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Temperature</title>
</head>
<body>
    <div>
        <nav class="menu">
            <a class="nav-button" href="#">About Us</a>
            <a class="nav-button" href="#">Contact Us</a>
            <a class="nav-button" href="#">Services</a>
            <a class="nav-button" href="#">Team</a>
        </nav>
    </div>
    <div>
        <h3>Enter The Fahrenheit To Convert</h3>
        <form class="dist" action="/result" method="POST">
            <input class="convert-choice" type="text" name="user-temperature" id="display" placeholder="Enter The Fahrenheit">
            <input type="submit" class="submit-button" value="Convert">
        </form>
    </div>
</body>
</html>